#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, .25fr));
    /* grid-template-rows: repeat(auto-fit, minmax(20px, 500px)); */
    row-gap: 5px;
    column-gap: 5px;
    margin: 30px;
    justify-content: center;
}

.grid-item {
    display: grid;
    grid-template-columns: 1fr 50%;

    padding: 1em 1em;
    border: .3em solid var(--green-4);
    border-radius: 10px;
    transition: .5s;
}

.grid-item:hover {
    border-color: var(--green-1);
}

.grid-item > .text {
    h1 {
        font-size: 2em;
        margin: 0px;
    }
    h2 {
        font-size: 1.2em;
        margin: 0px;
    }
    p {
        margin: 5px 0px;
    }
}

.grid-item > .image {
    padding: 10px;
}

.grid-item > .image > img {
    width: 100%;
}

.main-body > h1 {
    text-align: center;
}